* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: lightskyblue;
    height: 50px;
    width: 50px;
    border: 0.5px solid black;
    position: absolute;
    text-align: center;
}

.A {
    z-index: 1;
    position: relative;
    top: 200px;
    left: 200px;
}

.B {
    z-index: 2;
    left: -30px;
    top: -30px;
}

.C {
    z-index: 2;
    right: -30px;
    top: -30px;
}

.D {
    z-index: 2;
    left: -30px;
    bottom: -30px;
}

.E {
    z-index: 2;
    right: -30px;
    bottom: -30px;
}